
div {
  margin: 20px;
  font-family: 'Arial', sans-serif;
}


h2 {
  color: green;
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;

}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color:dimgray;
  max-width: 450px;
  margin: auto;

}


label {
  font-size: 16px;
  color: black;
  margin-bottom: 0 auto;
  display: block;
}

input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 90%;
}

select {
  width: 95%;
}


input[type="password"] {
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
}


button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}


div img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}


p {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}


button {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #218838;
}
